---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:     "Open Sans", sans-serif;
$base-font-size:       14px;
$base-font-weight:     400;
$semibold-font-weight: 600;
$bold-font-weight:     700;
$heavy-font-weight:    800;
$small-font-size:      $base-font-size * 0.875;
$base-line-height:     1.85;

$spacing-unit:     30px;

// Colors
$c-text:                 #000;
$c-anchor:               #08C;
$c-anchor--hover:        darken($c-anchor, 10%);

$c-bg:                   #FFF;

$c-logo:                 #FFF;

$c-brand-primary:        #08C;
$c-brand-secondary:      #0068CC;

$c-sidebar-bg:           #2B3034;
$c-sidebar-text:         #9AB0C2;

$c-footer-text:          #9AB0C2;

$c-nav-text:             #FFF;
$c-nav-anchor:           $c-nav-text;
$c-nav-anchor-bg:        #424A50;

$c-grey:                 #888;
$c-grey-light:           #DDD;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
