---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
      {% for collection in site.collections %}
          <li><a class="page-link" href="{{ collection.relative_directory | replace: '_', '' | prepend: site.baseurl  }}/">{{ collection.title }}</a></li>
          <ul>
          {% for doc in collection.docs %}
            <li><a class="page-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a></li>
          {% endfor %}
          </ul>
      {% endfor %}
  </ul>

</div>
