---
layout: default
---

<div class="home">

  <ul class="post-list">
      {% for collection in site.collections %}
        {% if collection.docs.size > 0 %}
          <li>
              <a class="page-link" href="{{ collection.label | prepend: site.baseurl  }}/">{{ collection.title }}</a>
              <ul>
              {% for doc in collection.docs %}
                <li><a class="page-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a></li>
              {% endfor %}
              </ul>
          </li>
        {% endif %}
      {% endfor %}
  </ul>

</div>
