/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $c-text;
    background-color: $c-bg;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -0.03em;
    margin: $spacing-unit * 1.5 -80px $spacing-unit;
    padding: 0 80px 5px;
    color: $c-brand;
    border-bottom: 1px solid $c-brand--light;
}

h3, h4, h5, h6 {
    font-weight: $semibold-font-weight;
    color: $c-brand;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5, h6 {
    font-weight: $bold-font-weight;
    font-size: 1em;
}


/**
 * Links
 */
a {
    color: $c-anchor;
    text-decoration: none;

    &:visited {
        color: $c-anchor;
    }

    &:hover {
        color: $c-anchor--hover;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $c-grey;
    border-left: 4px solid $c-grey-light;
    padding-left: $spacing-unit / 2;
    font-size: 1.2em;
    line-height: 1.7;
    letter-spacing: -0.03em;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $c-brand--light;
    border-radius: 0 4px 4px 0;
    background-color: $c-code;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Horizontal Rule
 */
hr {
    border: 0;
    border-top: 1px solid $c-brand--light;
    margin: $spacing-unit * 2 -80px;
}



/**
 * Tables
 */
table {
    width: 100%;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    margin: $spacing-unit 0;

    th, td {
        border-left: 1px solid $c-brand--light;
        border-top: 1px solid $c-brand--light;
        padding: 7px 15px;
    }

    th {
        text-align: left;
        font-weight: $bold-font-weight;
    }

    thead {
        th, td {
            background-color: $c-brand--lighter;
            color: $c-brand;
        }

        tr {
            th:first-child {
                border-top-left-radius: $g-border-radius;
            }

            th:last-child {
                border-top-right-radius: $g-border-radius;
                border-right: 1px solid $c-brand--light;
            }
        }
    }

    tbody {
        tr {
            td:last-child {
                border-right: 1px solid $c-brand--light;
            }
        }

        tr:last-child {
            td, th {
                border-bottom: 1px solid $c-brand--light;
            }

            td:first-child {
                border-bottom-left-radius: $g-border-radius;
            }

            td:last-child {
                border-bottom-right-radius: $g-border-radius;
            }
        }
    }


}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
